<html>
  <head>
    <title>Boxoofice</title>
    <link href='http://fonts.googleapis.com/css?family=Oxygen:300,400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    
  </head>
  <body>
    <div class="header">
      <div class="container">
        <img src="http://schmoesknow.com/wp-content/uploads/2010/08/boxoffice.jpg" height="90">
        <h1>Boxoffice</h1>
      </div>
    </div>

    <%= yield %>

  </body>
</html>
